@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #e0ffff;
    --cor-hover: #272727;

    --fonte-primaria: 'Lexend', sans-serif;
    --fonte-secundaria: 'Inter Tight', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: var(--cor-secundaria);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.logo_imagem {
    width: 50px;
    height: auto;
}

.cabecalho {
    display: flex;

}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    background-color: #e0ffff;
    width: 100%;
    align-items: center;
    padding: 10px
}

nav {
    position: relative;
}

nav a {
    display: inline-block;
    padding: 10px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    /* Ajuste a distância da linha */
    height: 2px;
    background-color: #333;
    width: 0;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 80%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.apresentacao__conteudo {
    padding: 10% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}

.apresentacao__conteudo__titulo {
    font-size: 1.90rem;
    font-family: var(--fonte-primaria);
    width: 50%;
    height: auto;
    z-index: 2;

}

.destaque-alura {
    color: #4682B4;
    font-family: var(--fonte-primaria);
    z-index: 2;
}

.destaque-gemini {
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
 
  color: black;
  
}


.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    width: 50%;
    height: auto;
    z-index: 2;
}


.gemini_imagem,
.alura_imagem {
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* Ajustar conforme necessário */
    position: absolute;
    transform: scale(1.1);
    transform: rotateY(15deg);


}

.gemini_imagem {
    right: 10%;
    top: 29%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* Ajustar conforme necessário */
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 0;
}

.alura_imagem {
    right: 3%;
    top: 10%;
    z-index: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.alura_imagem:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.gemini_imagem:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container-botao {
    display: flex;
    justify-content: center;
}

.search-button {
    background-color: #e0ffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.search-button input {
    flex: 1;
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
    outline: none;
}

.search-button svg {
    margin-right: 10px;
}

.search-button:hover {
    background-color: #c0bfbf;
    cursor: pointer;
}

.clickable{
    color: #b41f1f;
}

.results {
    text-align: center;
    font-family: monospace,  'sans-serif';
    color: #000000;
}


.results p p{
    font-family: monospace,  'sans-serif';
    /* Use sua fonte personalizada e uma fallback */
    background-color: #222;
    color: #fff;
    width: 60%;
    height: 5%;
    padding: 1.25rem;
    text-align: center;  
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    overflow-y: auto;
    /* Permite rolagem se o conteúdo for muito grande */
    flex-direction: column;
    margin-left: 25%;
}




.keyword {
    color: #b41f1f;
}

.descricao_rodape {
    position: fixed;
    width: 100%;
    justify-content: center;
    padding-bottom: 0.3%;
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    bottom: 0;

}

.descricao_rodape-imagem {
    padding-left: 10px;
}

@media (max-width: 650px) {
    .img{
        display: none;
    }

    }